.blog-post {
    border-left: 2px solid var(--aaup-red);
}

.post-wrapper {
    padding: 4rem 0;
}
#post-container {
    display: flex;
}
#blogpost {
    display: flex;
    flex-direction: column;

    width: 70vw;
    padding: 2rem 0 4rem 0;
}
#blogpost .card {
    width: 100%;

    border: none;
}
#blogpost .card-image:hover {
    box-shadow: none;
}

#sidebar {
    width: 30vw;
    padding: 0 2rem;

    text-align: left;

    border: 1px solid lightgrey;
    border-radius: .50px;
}

/* Media Queries */
@media (max-width: 900px) {  
    #blogpost {
        width: 100%;

        border-left: 0;
    }
    #sidebar {
        display: none;
    }
}