/* Bylaws Page */
#bylaws-section
{
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 2rem;

    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .2), 0 1px 15px 0 rgba(0, 0, 0, .19);
}

.bylaws-title
{
    font-size: 2rem;

    padding: 4rem 0;

    background-color: transparent;
}