#bylaws-section {
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 2rem;

    border: 1px solid lightgrey;
    border-radius: .50rem;
}

.bylaws-title {
    font-size: 2rem;

    padding: 4rem 0;

    background-color: transparent;
}

@media (max-width: 500px) {
    #bylaws-section {
        width: 90vw;
    }
    
    .bylaws-title {
        text-align: center;
    }
}