#bylaws-section {
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 2rem;

    border: 1px solid lightgrey;
    border-radius: .50rem;
}

.bylaws-title {
    font-size: 2rem;

    padding: 4rem 0;

    background-color: transparent;
}