.cta-wrapper {
    display: flex;

    padding: 0 0 4rem 0;
}

.cta1 {
    color: var(--black);
    border: 1px solid lightgrey;
    border-radius: .25px;
}
.cta2 {
    color: var(--white);
    background: #333;
}
.cta-text {
    display: flex;
    flex-direction: column;

    padding: 4rem;

    justify-content: space-around;
}

.cta-content {
    font-size: 1.3rem;

    padding: 2rem 0;
}

.cta-button {
    font-size: 1.4rem;
    font-weight: bold;

    color: var(--white);
}

.cta-divider {
    width: 20%;
    margin-bottom: 1rem;
    padding: .2rem 1rem;

    border-radius: .5rem;
    background-color: var(--white);
}
.divider1 {
    background-color: var(--black);
}

.cta-title {
    font-size: 1.6rem;
    font-weight: bold;

    padding-bottom: 2rem;

    color: var(--white);
}

.title1,
.button1 {
    color: var(--black);
}

@media (max-width: 768px) {
    .cta-wrapper
    {
        flex-direction: column;
    }

    .cta-text1 {
        padding: 4rem 3rem;
    }
}

@media (max-width: 500px) {
    .cta-text
    {
        padding: 4rem 3rem;
    }
}