/* Mission Statement section */
#mission-section
{
    padding-top: 4rem;
}
@media (max-width: 500px)
{
    #mission-section
    {
        padding-top: 0;
    }
}
.mission-text
{
    font-size: 1.6rem;
    line-height: 1.6;

    color: #333;
}
.mission
{
    padding: 0 0 4rem 0;
}

.mission-wrapper
{
    padding: 3rem 8rem;

    border: 1px solid lightgrey;
    border-radius: .25px;
    background: #f4f4f4;
}

.process {
    margin-top: 4rem;
}

.covid-resources {
    padding: 0 2rem;
    margin: 0 auto;
}

.subheader {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.process-wrapper {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1rem;
}

@media (max-width: 500px)
{
    .mission-wrapper
    {
        padding: 1rem;
    }
}